// 常用布局

// 定位
@each $pos-type in static, relative, absolute, fixed, sticky {
  .position-#{$pos-type} {
    position: #{$pos-type} !important;
  }
}
// flex

// 两端对齐
.flex-between {
  display: flex;
  justify-content: space-between;
}

// 垂直居中

// 行内水平居中
.tc {
  text-align: center;
}
// 定宽水平居中
.margin-auto {
  margin: 0 auto;
}
// 水平居左
.tl {
  text-align: left;
}

// 水平靠右
.tr {
  text-align: right;
}

// 水平垂直居中
.flex-single-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-multi-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-center {
  display: grid; // 或 inline-grid
  place-items: center;
}
// 未知宽高水平垂直居中
.position-center {
  position:absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}
// 栅格
