@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.bg-blue {
  background-color: #1890ff !important;
}

.text-blue {
  color: #1890ff !important;
}

.bg-black {
  background-color: #000 !important;
}

.text-black {
  color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-white {
  color: #fff !important;
}

.rounded-1 {
  border-radius: 1px !important;
}

.rounded-2 {
  border-radius: 2px !important;
}

.rounded-3 {
  border-radius: 3px !important;
}

.rounded-4 {
  border-radius: 4px !important;
}

.rounded-5 {
  border-radius: 5px !important;
}

.rounded-6 {
  border-radius: 6px !important;
}

.rounded-7 {
  border-radius: 7px !important;
}

.rounded-8 {
  border-radius: 8px !important;
}

.rounded-9 {
  border-radius: 9px !important;
}

.rounded-10 {
  border-radius: 10px !important;
}

.rounded-full {
  border-radius: 9999px !important;
}

.rounded-none {
  border-radius: 0px !important;
}

.animate-none {
  animation: none;
}

.animate-spin {
  animation: spin is linear infinite;
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* 不透明度 */
.opacity-0 {
  opacity: 0 !important;
}

.opacity-10 {
  opacity: 0.1 !important;
}

.opacity-20 {
  opacity: 0.2 !important;
}

.opacity-30 {
  opacity: 0.3 !important;
}

.opacity-40 {
  opacity: 0.4 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-60 {
  opacity: 0.6 !important;
}

.opacity-70 {
  opacity: 0.7 !important;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.opacity-90 {
  opacity: 0.9 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

/* 文本装饰 */
.underline {
  text-decoration: underline !important;
}

.line-through {
  text-decoration: line-through !important;
}

.no-underline {
  text-decoration: no-underline !important;
}

/* 文本转换 */
.uppercase {
  text-decoration: uppercase !important;
}

.lowercase {
  text-decoration: lowercase !important;
}

.capitalize {
  text-decoration: capitalize !important;
}

.normal-case {
  text-transform: none !important;
}

/* 文本溢出 */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.overflow-clip {
  text-overflow: clip;
}

/* 字体粗细 */
.font-thin {
  font-weight: 100 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 700 !important;
}

/* 字体样式 */
.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

/* 盒模型 */
.box-border {
  box-sizing: border-box !important;
}

.box-content {
  box-sizing: content-box !important;
}

/* 元素框类型 */
.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.flex {
  display: flex !important;
}

.inline-flex {
  display: inline-flex !important;
}

.table {
  display: table !important;
}

.table-caption {
  display: table-caption !important;
}

.table-cell {
  display: table-cell !important;
}

.table-column {
  display: table-column !important;
}

.table-column-group {
  display: table-column-group !important;
}

.table-footer-group {
  display: table-footer-group !important;
}

.table-header-group {
  display: table-header-group !important;
}

.table-row-group {
  display: table-row-group !important;
}

.table-row {
  display: table-row !important;
}

.flow-root {
  display: flow-root !important;
}

.grid {
  display: grid !important;
}

.inline-grid {
  display: inline-grid !important;
}

.contents {
  display: contents !important;
}

.hidden {
  display: none !important;
}

/* 浮动 */
.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.float-none {
  float: none !important;
}

.clear-right {
  clear: right !important;
}

.clear-left {
  clear: left !important;
}

.clear-both {
  clear: both !important;
}

.clear-none {
  clear: none !important;
}

/* object fit */
.object-contain {
  object-fit: contain !important;
}

.object-cover {
  object-fit: cover !important;
}

.object-fill {
  object-fit: fill !important;
}

.object-none {
  object-fit: none !important;
}

.object-scale-down {
  object-fit: scale-down !important;
}

/* object position */
.object-bottom {
  object-position: bottom !important;
}

.object-center {
  object-position: center !important;
}

.object-left {
  object-position: left !important;
}

.object-left-bottom {
  object-position: left bottom !important;
}

.object-left-top {
  object-position: left top !important;
}

.object-right {
  object-position: right !important;
}

.object-right-bottom {
  object-position: right bottom !important;
}

.object-right-top {
  object-position: right top !important;
}

.object-top {
  object-position: top !important;
}

/* 溢出 */
.overflow-auto {
  overflow: auto !important;
}

.overflow-x-auto {
  overflow: auto !important;
}

.overflow-y-auto {
  overflow: auto !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow: hidden !important;
}

.overflow-y-hidden {
  overflow: hidden !important;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-x-visible {
  overflow: visible !important;
}

.overflow-y-visible {
  overflow: visible !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-x-scroll {
  overflow: scroll !important;
}

.overflow-y-scroll {
  overflow: scroll !important;
}

/* 滚动行为 */
.overscroll-auto {
  overscroll-behavior: auto !important;
}

.overscroll-y-auto {
  overscroll-behavior-y: auto !important;
}

.overscroll-x-auto {
  overscroll-behavior-x: auto !important;
}

.overscroll-contain {
  overscroll-behavior: contain !important;
}

.overscroll-y-contain {
  overscroll-behavior-y: contain !important;
}

.overscroll-x-contain {
  overscroll-behavior-x: contain !important;
}

.overscroll-none {
  overscroll-behavior: none !important;
}

.overscroll-y-none {
  overscroll-behavior-y: none !important;
}

.overscroll-x-none {
  overscroll-behavior-x: none !important;
}

/* 定位 */
.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

/* 可见性 */
.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

/* z-index */
.z-9999 {
  z-index: 9999;
}

/* 弹性布局flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-6 {
  order: 6 !important;
}

.order-7 {
  order: 7 !important;
}

.order-8 {
  order: 8 !important;
}

.order-9 {
  order: 9 !important;
}

.order-10 {
  order: 10 !important;
}

.order-11 {
  order: 11 !important;
}

.order-12 {
  order: 12 !important;
}

.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

.order-none {
  order: 0;
}

/* 文本对齐 */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

/* 垂直对齐 */
.vertical-baseline {
  vertical-align: baseline !important;
}

.vertical-top {
  vertical-align: top !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

.vertical-text-top {
  vertical-align: text-top !important;
}

.vertical-text-bottom {
  vertical-align: text-bottom !important;
}

/* 文本空格 */
.whitespace-normal {
  white-space: normal !important;
}

.whitespace-nowrap {
  white-space: nowrap !important;
}

.whitespace-pre {
  white-space: pre !important;
}

.whitespace-pre-line {
  white-space: pre-line !important;
}

.whitespace-pre-wrap {
  white-space: pre-wrap !important;
}

/* 文本换行 */
.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

/* 间距 */
.p-1 {
  padding: 5px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.m-1 {
  margin: 5px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.px-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.py-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.mx-1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.my-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.p-2 {
  padding: 10px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.m-2 {
  margin: 10px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.px-2 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.my-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.p-3 {
  padding: 15px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pr-3 {
  padding-right: 15px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.m-3 {
  margin: 15px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.px-3 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.py-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.mx-3 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.my-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.p-4 {
  padding: 20px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pr-4 {
  padding-right: 20px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.m-4 {
  margin: 20px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.px-4 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.mx-4 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.my-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.p-5 {
  padding: 25px !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pr-5 {
  padding-right: 25px !important;
}

.pb-5 {
  padding-bottom: 25px !important;
}

.pl-5 {
  padding-left: 25px !important;
}

.m-5 {
  margin: 25px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mr-5 {
  margin-right: 25px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

.ml-5 {
  margin-left: 25px !important;
}

.px-5 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.py-5 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.mx-5 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.my-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.p-6 {
  padding: 30px !important;
}

.pt-6 {
  padding-top: 30px !important;
}

.pr-6 {
  padding-right: 30px !important;
}

.pb-6 {
  padding-bottom: 30px !important;
}

.pl-6 {
  padding-left: 30px !important;
}

.m-6 {
  margin: 30px !important;
}

.mt-6 {
  margin-top: 30px !important;
}

.mr-6 {
  margin-right: 30px !important;
}

.mb-6 {
  margin-bottom: 30px !important;
}

.ml-6 {
  margin-left: 30px !important;
}

.px-6 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-6 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.mx-6 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.p-7 {
  padding: 35px !important;
}

.pt-7 {
  padding-top: 35px !important;
}

.pr-7 {
  padding-right: 35px !important;
}

.pb-7 {
  padding-bottom: 35px !important;
}

.pl-7 {
  padding-left: 35px !important;
}

.m-7 {
  margin: 35px !important;
}

.mt-7 {
  margin-top: 35px !important;
}

.mr-7 {
  margin-right: 35px !important;
}

.mb-7 {
  margin-bottom: 35px !important;
}

.ml-7 {
  margin-left: 35px !important;
}

.px-7 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.py-7 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.mx-7 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.my-7 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.p-8 {
  padding: 40px !important;
}

.pt-8 {
  padding-top: 40px !important;
}

.pr-8 {
  padding-right: 40px !important;
}

.pb-8 {
  padding-bottom: 40px !important;
}

.pl-8 {
  padding-left: 40px !important;
}

.m-8 {
  margin: 40px !important;
}

.mt-8 {
  margin-top: 40px !important;
}

.mr-8 {
  margin-right: 40px !important;
}

.mb-8 {
  margin-bottom: 40px !important;
}

.ml-8 {
  margin-left: 40px !important;
}

.px-8 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-8 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.mx-8 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-8 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.p-9 {
  padding: 45px !important;
}

.pt-9 {
  padding-top: 45px !important;
}

.pr-9 {
  padding-right: 45px !important;
}

.pb-9 {
  padding-bottom: 45px !important;
}

.pl-9 {
  padding-left: 45px !important;
}

.m-9 {
  margin: 45px !important;
}

.mt-9 {
  margin-top: 45px !important;
}

.mr-9 {
  margin-right: 45px !important;
}

.mb-9 {
  margin-bottom: 45px !important;
}

.ml-9 {
  margin-left: 45px !important;
}

.px-9 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.py-9 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.mx-9 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.my-9 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.p-10 {
  padding: 50px !important;
}

.pt-10 {
  padding-top: 50px !important;
}

.pr-10 {
  padding-right: 50px !important;
}

.pb-10 {
  padding-bottom: 50px !important;
}

.pl-10 {
  padding-left: 50px !important;
}

.m-10 {
  margin: 50px !important;
}

.mt-10 {
  margin-top: 50px !important;
}

.mr-10 {
  margin-right: 50px !important;
}

.mb-10 {
  margin-bottom: 50px !important;
}

.ml-10 {
  margin-left: 50px !important;
}

.px-10 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.py-10 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.mx-10 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.my-10 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.text-12px {
  font-size: 12px !important;
}

.text-14px {
  font-size: 14px !important;
}

.text-16px {
  font-size: 16px !important;
}

.text-18px {
  font-size: 18px !important;
}

.text-20px {
  font-size: 20px !important;
}

.text-22px {
  font-size: 22px !important;
}

.text-24px {
  font-size: 24px !important;
}

.text-26px {
  font-size: 26px !important;
}

.text-28px {
  font-size: 28px !important;
}

.text-30px {
  font-size: 30px !important;
}
